<div id="acontent">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#"><img src="/images/555x389_44cbff279f790b146fa60263f32310a2.jpg" class="img-responsive">
        <h2 class="text-muted">Fondue, vinho, café e caldo: 20 lugares perfeitos pra curtir a chuva em
          Brasília</h2></a>
        </div>
        <div class="col-md-6">
          <a href="#"><img src="/images/555x389_77d0b4197b9e91fba73d96046cab3f90.png" class="img-responsive">
          <h2 class="text-muted">16 lugares em Brasília que todo amante de livros precisa conhecer</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#"><img src="/images/555x389_bad0102dd02ee061058a2549ea537654.png" class="img-responsive">
          <h2 class="text-muted">Quinta de primeira no cinema: veja as cinco ótimas estreias da semana</h2></a>
        </div>
        <div class="col-md-6">
          <a href="#"><img src="/images/555x389_adea9b85323aa32a5a5f587d7d144b7c.png" class="img-responsive">
          <h2 class="text-muted">Solistas do balé russo apresentam espetáculo em Brasília</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-lg btn-success"><i class="fa fa-fw fa-plus"></i>&nbsp;Notícias</a>
        </div>
      </div>
    </div>
  </div>
</div>
