<div id="acontent">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Últimas Notícias</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#" alt="Nova Brinquedoteca no Guará"><img src="/images/P1190655.jpg" class="img-responsive">
          <h2 class="text-muted">Nova Brinquedoteca no Guará</h2></a>
        </div>
        <div class="col-md-6">
          <a href="#" alt="Teatro Infantil na Esplanada"><img src="/images/555x389_11ad76d76ac7ef8c9595af2d93d54e7f.png" class="img-responsive">
            <h2 class="text-muted">Teatro Infantil na Esplanada</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#" alt="O Circo Palhaçada esta na Cidade"><img src="/images/circo.jpg" class="img-responsive">
          <h2 class="text-muted">O Circo Palhaçada esta na Cidade</h2></a>
        </div>
        <div class="col-md-6">
          <a href="#" alt="Evento da criança na Praça do Relógio"><img src="/images/c3adf15949af2097c85905f8bdb84be7_XL.jpg" class="img-responsive">
            <h2 class="text-muted">Evento da criança na Praça do Relógio</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-lg btn-success" alt="Notíicias"><i class="fa fa-fw fa-plus"></i>&nbsp;Notícias</a>
        </div>
      </div>
    </div>
  </div>
</div>
