<div id="acontent">
  <% if user_signed_in? %>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <a class="btn btn-success" href="/children_events/new">Inserir Evento</a>
          </div>
        </div>
      </div>
      <br/>
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <a class="btn btn-success" href="/children_events/">Gerenciar Eventos</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% @children_events.each do |children_event| %>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <%= link_to(image_tag(children_event.photo.url), {controller: :children_events, action: :event_show, id: children_event.id}, class: "center-block img-responsive") %>
          </div>
          <div class="col-md-6">
            <h1><%= link_to(children_event.title, {controller: :children_events, action: :event_show, id: children_event.id}, class: "text-muted") %></h1>
            <h3 class="hidden-xs"><%= DateTimeHelper.format_date(children_event.date_time) %></h3>
            <ol class="list-inline text-warning">
              <% children_event.rating.times do |i| %>
                <li>
                    <i class="fa fa-2x fa-fw fa-star"></i>
                </li>
              <% end %>
              <% (5 - children_event.rating).times do |i| %>
                <li>
                    <i class="fa fa-2x fa-fw fa-star-o"></i>
                </li>
              <% end %>
            </ol>
            <p class="hidden-sm hidden-xs"><%= simple_format(children_event.description) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-lg btn-success"><i class="fa fa-fw fa-plus"></i>&nbsp;Eventos</a>
        </div>
      </div>
    </div>
  </div>
</div>
