<div id="acontent">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a class="btn btn-success" href="/children_events/new">Inserir Evento</a>
        </div>
      </div>
    </div>
  </div>
  <% @children_events.each do |children_event| %>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="event_show.html"><img src=<%= children_event.photo.url %>  class="center-block img-responsive"></a>
          </div>
          <div class="col-md-6">
            <h1><%= link_to(children_event.title, children_event_path(id: children_event.id), class: "text-muted") %></h1>
            <h3 class="hidden-xs"><%= children_event.date_time %></h3>
            <p class="hidden-sm hidden-xs"><%= simple_format(children_event.description) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-lg btn-success"><i class="fa fa-fw fa-plus"></i>&nbsp;Eventos</a>
        </div>
      </div>
    </div>
  </div>
</div>
