<div class="section" style="padding:0px">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-left">
        <ul id="accessibility" class="hidden-sm hidden-xs list-inline" style="padding-top:15px">
          <li>
            <a accesskey="1" href="#acontent" id="link-conteudo">
                        Ir para o conteúdo
                        <span>1</span>
                    </a>
          </li>
          <li>
            <a accesskey="2" href="#amenu" id="link-navegacao">
                        Ir para o menu
                        <span>2</span>
                    </a>
          </li>
          <li>
            <a accesskey="3" href="#asearch" id="link-buscar">
                        Ir para a busca
                        <span>3</span>
                    </a>
          </li>
          <li class="last-item">
            <a accesskey="4" href="#afooter" id="link-rodape">
                        Ir para o rodapé
                        <span>4</span>
                    </a>
          </li>
          <li class="last-item">
            <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete,  id: "link-rodape" %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path, id: "link-rodape" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-12">
        <form class="navbar-form text-right" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisa" id="asearch">
            <div class="input-group-addon">
              <a href="#"><i class="-o fa fa-fw fa-lg fa-search text-muted"></i></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div></div>
<div class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/home/index"><img src="/images/logo.png" class="img-responsive"></a>
      </div>
    </div>
  </div>
</div>

<% if params[:controller] == "children_events" || params[:action] == "kids" %>
  <%= render 'layouts/navigation_kids' %>
<% else %>
  <%= render 'layouts/navigation_home' %>
<% end %>
