<div class="navbar navbar-default navbar-static-top" id="amenu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-left navbar-nav">
        <li>
          <a href="#">Gastronomia</a>
        </li>
        <li>
          <a href="#">Cinema</a>
        </li>
        <li>
          <a href="#">Teatro</a>
        </li>
        <li>
          <a href="#">Mais Cultura</a>
        </li>
        <li>
          <a href="#">Compras</a>
        </li>
        <li>
          <a href="#">Passeios</a>
        </li>
        <li>
          <%= link_to("Kids", kids_path, id: "nav_login") %>
        </li>
        <li>
          <a href="#">Eventos</a>
        </li>
        <li>
          <a href="#">Especiais</a>
        </li>
        <li>
          <a href="#">Serviços</a>
        </li>
        <li>
          <a href="#">Fotos</a>
        </li>
      </ul>
    </div>
  </div>
</div>


